*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Mulish',sans-serif;
    background-color: #ffffff;

}

.navbar{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    
}

.logo{
    width: 48.2px;
    height: 48.2px;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
    position: relative;
    left: 130px;
}

.logo:hover{
    width:52.5px;
    height:52.5px;
}
.nav-address{
    font-weight: 800;
    font-size: 14px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    cursor: pointer;
    margin: 50px;
    position: relative;
    left: 100px;
}

.Drop-down-arrow{
    position: relative;
    left: 50px;
}
.nav-address:hover{
    color: #ff5100;
}

.left{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}

.rigth{
    width: 80%;
    display: flex;
    align-items: center;
}
.ul-list{
    display: flex;
    list-style-type: none;
    column-gap: 60px;
    margin-left: 300px;

}

.ul-list li{
    font-weight: 700;
}

.ul-list li:hover{
color: #ff5100;
}

.ul-list i:hover{
color: #ff5100;
}

.hero-secton{
    width: 80%;
    background-color: #ffffff;
}

.hero-text{
    text-align: start;
    font-weight: 900;
}
.category{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}
.category img{
    width: 144px;
    height: 184px;

}
.hr-line{
    opacity: 0.3;
}

.top-restaurants{
    width:80%;
    background-color: #ffffff;


}

.title{
        font-size: 16px;
        text-align: start;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }

.restaurent-header{
    width: 273px;
    height: 182px;
    background: url('../img/111.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}
.top-restaurants-title{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
    font-family: 'Mulish';    
}
.list{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.restaurent{
    width: 273px;
    height: 310px;
    transition: transform 0.3s ease-in-out;
    
}

.restaurent:hover{
transform: scale(0.95);
}
.restaurent-name{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-left: 7px;

}

.restaurent-rating{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-left: 7px;
}

.restaurent-desc, .restaurent-location{
    font-size: 16px;
    color: rgba(2, 6, 12, 0.6);
    text-align: left;
    padding-left: 7px;
}
.kfc{
    background: url('../img/222.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.theo{
    background: url('../img/333.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Starbucks{
    background: url('../img/444.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ul-filter{
    display: flex;
    list-style-type: none;
    column-gap: 15px;
}

.ul-filter li{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;

}

.restaurants-list   {

    width:80%;
}
.footer-full{
        background-color: #f0f0f5;
        height: 600px;
}
.footer{
    width:80%;

}
.row1{
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: 90px;
}
.row1 img{
    width: 204px;
    height: 64px;

}

.row1 h2{
    font-size: 23px;
    color: #3c3f45;

    font-weight: 900;
}


.footer-footer-logo{
    width: 160;
    height: 49px;
}

.copyrigth{
    font-size: 16px;
    color: #323236;
}

.row2{
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    
}


.footer-list{
    list-style-type: none;
    text-align: start;
    font-size: 16px;
    color: #61646e;

}

.footer-list li{
    padding-top: 10px;
    cursor: pointer;
}

.footer-list1{
    list-style-type: none;
    text-align: start;
    font-size: 16px;
    color: #61646e;
    display: flex;
}

.hr-shadow{
    border: none;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0px 2px 4px rgb(55, 55, 55);
}